<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styleSheets/navbar.css">
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-container">
        <a class="nav-brand">
          <img src="https://flowbite.com/docs/images/logo.svg" alt="Logo" />
          <span>Flowbite</span>
        </a>

        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/listings">All Listings</a></li>
          <li><a href="/listings/new">Add new Listing</a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>
