body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: #f5f7fa;
  height: 100vh;
}

.wrapper {
  background: #ffffff;
  padding: 2rem;
  margin:auto;
  margin-top:250px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  text-align: center;
}

p {
  font-size: 1.3rem;
  color: #444;
  font-weight: 600;
}
