/* overall page */
body {
  font-family: "Inter", sans-serif;
  background: #fafafa;
  display: flex;
  justify-content: center;
  padding: 40px;
}

/* center card */
.container {
  width: 600px;
  background: #ffffff;
  padding: 35px;
  border-radius: 18px;
  padding-right: 60px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
}

/* title */
h1 {
  font-size: 32px;
  margin-bottom: 25px;
  font-weight: 600;
  color: #111;
}

/* labels */
label {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin-bottom: 6px;
  display: block;
}

/* inputs */
input,
textarea {
  width: 100%;
  padding: 14px;
  border: 1.5px solid #ddd;
  border-radius: 10px;
  font-size: 15px;
  background: #f9f9f9;
  transition: 0.2s ease;
}

input:focus,
textarea:focus {
  border-color: #000;
  background: #fff;
  outline: none;
}

/* textarea */
textarea {
  height: 40px;
  resize: none !important;
  resize: vertical;
}

/* price + country row */
.row {
  display: flex;
  gap: 80px;
  margin: 15px 0;
}

.half {
  flex: 1;
}

/* spacing between fields */
input,
textarea {
  margin-bottom: 18px;
}

/* button */
.btn {
  width: 110px;
  padding: 12px;
  background: #111;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  background: #333;
}
